body{
  /*background:#2980b9;*/
  background: linear-gradient(to right,#000000,#53346D);

}
heading{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    position:relative;
}
body{
margin: 0;
}
heading div{
    display:flex;
    flex:1;
    justify-content:center;
    align-items:center;
}
heading nav{
    flex:2;
}
heading nav ul {
    display: flex;
    list-style: none;
    justify-content:space-around;
    margin-top:0px;
}
heading nav ul li {
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    font-size: 1.1rem;
    letter-spacing:0.7px;
    font-family: 'Nunito', sans-serif;
    color:white;
    font-weight:600;
}
heading nav ul li:hover{
    color: #ff1b1c;
}
#intro{
    position: relative;
    height:60vh;
    display:flex;
    justify-content:center;
    top:6vh;
}
#introt{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
#introt h2{
    display: flex;
    justify-content:center;
    color:white;
    font-family: Montserrat;
    font-size: 4rem;
    text-align:center;
    font-weight:800;
    letter-spacing:1px;
    flex-basis:100%;
    margin-bottom: 0;
    align-items:center;
}
#introt span{
    color:#ff1b1c;
    font-family: Montserrat;
    font-size: 4rem;
    text-align:center;
    font-weight:800;
    letter-spacing:1px;
}
#introt div{
    flex-basis: 100%;
    display:flex;
    justify-content:center;
}
#introt .type{
    margin-top:20px;
    display:flex;
    align-items: center;
}
#introt .type input{
    width:400px;
    background:transparent;
    border:2px solid #ff1b1c;
    font-size: 1.4rem;
    padding:8px;
    color: white;
    font-family:Montserrat;
}
#introt .type i{
    margin-left:10px;
    color:#ff1b1c;
    cursor:pointer;
}
#introt .icons-c{
margin-top: 35px;
margin-bottom:25px;
}
#introt .icons{
    flex-basis:70%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content:space-around;
}
#introt .icons i{
    color:white;
}
#introb button{
    border-radius:0;
    border:none;
    margin:20px;
    margin-left:20px;
    margin-right:20px;
    font-family: Montserrat;
    font-size: 1.2rem;
    padding:20px;
    padding-left:80px;
    padding-right:80px;
    background:white;
    color:#ff1b1c;
    font-weight:900;
    cursor:pointer;
    transition:background 0.5s,color 0.5s;
    letter-spacing:0.5px;
}
#introb button:hover{
    background:#ff1b1c;
    color:white;
}
.steps{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top:40vh;
}
.stepsh{
  flex-basis: 100%;
  display:flex;
  justify-content: center;
}
.stepsh h2{
  color: white;
  font-size: 3.3rem;
  font-family: 'Nunito', sans-serif;
  letter-spacing:0.7px;
}
.stepsb{
display: flex;
flex-wrap: wrap;
}
.stepsb div{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  padding-bottom:15px;
}
.stepsb p{
  flex-basis:40%;
  color:white;
  font-family:Alegreya;
  font-size: 1.3rem;
  padding-left: 15px;
}
.stepsb img{
  width:80px;
}
.img1 span{
flex-basis:10%;
}
.img2 span{
flex-basis:22%;
}
.img3 span{
flex-basis:34%;
}
.img4 span{
flex-basis:46%;
}
