body
{
    display: flex;

    margin: 0;

    background-color: white;

    flex-wrap: wrap;
}
#body
{
    display: flex;

    width: 100vw;

    flex-wrap: wrap;
}
#content
{
    margin-left: 2.5%;

    flex-basis: 80%;
}
#nav
{
    flex-basis: 97%;
}

header
{
    position: relative;

    display: flex;

    background: black;

    flex-wrap: wrap;
}
header div
{
    display: flex;

    align-items: center;
}

header ul
{
    display: flex;

    margin: 0;

    list-style: none;
}

header li
{
    font-family: 'Quattrocento', serif;
    font-size: .8rem;
    font-weight: 400;

    padding: 15px;

    cursor: pointer;
    letter-spacing: 3px;

    color: white;
}

header li:hover
{
    color: #ff2c55;
}

header .nav
{
    flex-basis: 90%;
    justify-content: flex-end;
}
.main{
  margin-left:2.5%;
  display:flex;
  flex-wrap:wrap;
}
.img{
  flex-basis:98%;
}
.img img{
  max-width:100%;
  z-index:-2;
}
.text{
  position:absolute;
  left:15%;
  top:21%;
}
.text h3{
  color:white;
  font-family:Montserrat;
  font-size: 3rem;
  margin-bottom: 0;
}
.text  h4{
  font-family:Montserrat;
  color: white;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight:100;
}
.text button{
  position: absolute;
}
.text button::before{
  white-space:nowrap;
    content: "Sign up";
    background:#FF2C55;
    border: none;
   font-size: 1.3rem;
   font-family:Montserrat;
    color:#FF2C55;
    position:absolute;
    z-index:-1;
    padding:9px;
  padding-left: 30px;
  padding-right: 19px;
    margin-top:-9px;
    margin-left: -54px;
    transition:all 0.15s ease-in-out;
}
.text button::after{
   white-space:nowrap;
    content: "Sign up";
    background:#41EBDF;
    border: none;
  font-size: 1.3rem;
  font-family:Montserrat;
    color: #41EBDF;
    position:absolute;
      z-index:-1;
      padding:9px;
  padding-left: 30px;
  padding-right:19px;
    margin-top:-35px;
    margin-left: -74px;
     transition:all 0.15s ease-in-out;
}
.text button:hover::before{
  margin-top:-13px;
  margin-left:-50px;
}
.text button:hover::after{
  margin-top:-31px;
  margin-left:-78px;
}

.text button p{
  border: none;
  cursor:pointer;
  z-index:1;
  color:white;
  font-size:1.3rem;
  padding:9px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  background:#41294A;
}
.text button{
  padding:0;
  margin: 0;
  background:#41294A;
  border:none;
  z-index:1;
  overflow:auto;
  cursor:pointer;
}
.button{
  margin-top:30px;
  padding-left:20px;
}
.detail{
  display:flex;
  flex-wrap:wrap;
}
.head{
  width:100%;
  display:flex;
  justify-content:center;
}
.head h3{
  font-family:Montserrat;
  color:#29303b;
  font-size: 2rem;
  font-weight:100;
  padding-bottom:0px;
}
.head h3::after{
 content: " ";
width: 50px;
height: 2px;
display: block;
border-top: 2px solid #007791;
margin:21px auto;
}
.bottom{
  display:flex;
  flex-wrap:wrap;
}
.box{
  flex-basis:32%;
  padding:10px;
}
.box div{
  display:flex;
  flex-basis:100%;
  justify-content:center;
}
.box div i{
   color:#29303b;
}
.box div h4{
font-family:Montserrat;
  color:#29303b;
  font-size: 1.4rem;
  font-weight:400;
  margin-bottom:10px;
}
.box div p{
  font-family:Montserrat;
  color:#29303b;
  font-size: 1rem;
  font-weight:100;
  text-align:center;
  margin-top: 0;
  line-height:25px;
}
